html, body, #root, .App{
  width: 100%;
  height: 100%;
}
html{
  overflow: hidden;
}
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;

}

.App{
  display: flex;
  justify-content: center;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.stuff-in-menu{
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 20px solid #333030;
  z-index: 1;
}

.main-menu{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStuff{
  width: 100%;
  font-size: 70px;
  background-color: #333030;
}

.title{
  width: 100%;
  height: 15%;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(to right, #111111, goldenrod);
}

.smallImg{
  width: 100%;
  height: 400px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid goldenrod;
}


.fancy{
  color: rgb(255, 222, 139);
  font-family: 'Mea Culpa', cursive;
}

video{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  object-fit: cover;



}